In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
selected_cols = ['name', 'county_name', 'city_name', 'aland', 'median_household_income', 'average_household_income', 'per_capita_income', 'percent_of_households_with_incomes_200000_or_more',
                'householder_under_25_years', 'householder_25_to_44_years', 'householder_45_to_64_years', 'householder_65_years_and_over'
                , 'hhi_total', 'hhi_lt_25k', 'hhi_25k_to_49k', 'hhi_50k_to_749k', 'hhi_75k_to_999k',
                'hhi_100k_to_1490k', 'hhi_150k_to_1999k', 'hhi_200k_or_more', 'race_and_ethnicity_total', 
                'population_density_sq_mi', 'median_age', 'educational_attainment_bachelors', 'educational_attainment_graduate',
                'family_poverty_pct', 'unemployment_pct', 'housing_units', 'median_value_of_owner_occupied_units']
raw = pd.read_csv("/Users/junfengli/Documents/Stat170A/Project/California_IncomeByZipDemographics/California_IncomeByZipDemographics.csv", skiprows = 4, usecols = selected_cols)

In [3]:
raw

,name,county_name,city_name,aland,median_household_income,average_household_income,per_capita_income,percent_of_households_with_incomes_200000_or_more,householder_under_25_years,householder_25_to_44_years,...,hhi_200k_or_more,race_and_ethnicity_total,population_density_sq_mi,median_age,educational_attainment_bachelors,educational_attainment_graduate,family_poverty_pct,unemployment_pct,housing_units,median_value_of_owner_occupied_units
0,90001,Los Angeles,Florence-Graham; Huntington Park; Los Angeles,"9,071,081","US$43,360","US$54,325","US$13,727",0.7%,"US$41,207","US$44,976",...,97,"59,832","17,083.3",29.1,4.8%,0.8%,23.3%,8.7%,"14,174","US$359,000"
1,90002,Los Angeles,Florence-Graham; Los Angeles; Lynwood,"7,930,602","US$37,285","US$49,724","US$13,284",1.2%,"US$29,455","US$36,209",...,152,"53,302","17,407.4",28.0,4.7%,1.2%,31.2%,9.7%,"13,546","US$345,900"
2,90003,Los Angeles,Los Angeles,"9,197,635","US$40,598","US$51,181","US$13,441",0.9%,"US$37,159","US$37,970",...,157,"73,730","20,761.8",28.3,4.4%,1.4%,28.7%,9.0%,"18,523","US$362,800"
3,90004,Los Angeles,Los Angeles,"7,894,528","US$49,675","US$84,325","US$32,090",8.2%,"US$31,944","US$52,273",...,"1,804","60,541","19,861.9",35.2,25.5%,9.5%,14.4%,4.6%,"25,192","US$1,063,200"
4,90005,Los Angeles,Los Angeles,"2,807,558","US$38,491","US$54,841","US$24,267",3.6%,"US$27,961","US$45,858",...,598,"39,732","36,653.0",35.6,22.9%,8.4%,21.5%,5.6%,"18,291","US$777,100"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,96148,Placer,Tahoe Vista,"3,521,555","US$73,611","US$73,774","US$28,961",5.1%,-US$1,-US$1,...,11,580,426.6,31.3,24.5%,8.0%,32.7%,0.0%,635,"US$750,000"
1760,96150,El Dorado,South Lake Tahoe,"319,971,335","US$57,396","US$82,312","US$35,049",6.5%,"US$33,369","US$63,978",...,766,"29,327",237.4,38.8,20.8%,8.8%,6.3%,6.7%,"23,478","US$442,300"
1761,96155,El Dorado,NaN,"95,941,529",-US$1,-US$1,-US$1,-1.0%,-US$1,-US$1,...,0,0,0.0,-1.0,0.0%,0.0%,0.0%,0.0%,92,-US$1
1762,96161,Nevada; Placer,Kingvale; Truckee,"470,961,610","US$98,924","US$139,731","US$53,453",18.1%,"US$63,583","US$93,508",...,"1,254","18,488",101.7,41.5,36.2%,16.4%,4.3%,2.0%,"17,733","US$604,100"
1763,97635,Modoc,New Pine Creek,"116,027,578",-US$1,"US$43,318","US$21,346",0.0%,-US$1,-US$1,...,0,170,3.8,58.2,0.0%,10.6%,49.0%,0.0%,192,"US$137,000"

In [4]:
raw = raw[raw['householder_under_25_years'] != "-US$1"]
raw_filtered = raw[raw['median_household_income'] != "-US$1"]

In [5]:
numeric_conversion_list = ['aland', 'median_household_income', 'average_household_income', 'per_capita_income',
                'householder_under_25_years', 'householder_25_to_44_years', 'householder_45_to_64_years', 'householder_65_years_and_over'
                , 'hhi_total', 'hhi_lt_25k', 'hhi_25k_to_49k', 'hhi_50k_to_749k', 'hhi_75k_to_999k',
                'hhi_100k_to_1490k', 'hhi_150k_to_1999k', 'hhi_200k_or_more', 'race_and_ethnicity_total', 
                  'housing_units', 'median_value_of_owner_occupied_units']
for x in numeric_conversion_list:
    raw_filtered[x] =  [re.sub(r'[^0-9]+','', str(y)) for y in raw_filtered[x]]
    
raw_filtered['population_density_sq_mi'] =  [re.sub(r',','', str(y)) for y in raw_filtered['population_density_sq_mi']]

In [6]:
raw_filtered

,name,county_name,city_name,aland,median_household_income,average_household_income,per_capita_income,percent_of_households_with_incomes_200000_or_more,householder_under_25_years,householder_25_to_44_years,...,hhi_200k_or_more,race_and_ethnicity_total,population_density_sq_mi,median_age,educational_attainment_bachelors,educational_attainment_graduate,family_poverty_pct,unemployment_pct,housing_units,median_value_of_owner_occupied_units
0,90001,Los Angeles,Florence-Graham; Huntington Park; Los Angeles,9071081,43360,54325,13727,0.7%,41207,44976,...,97,59832,17083.3,29.1,4.8%,0.8%,23.3%,8.7%,14174,359000
1,90002,Los Angeles,Florence-Graham; Los Angeles; Lynwood,7930602,37285,49724,13284,1.2%,29455,36209,...,152,53302,17407.4,28.0,4.7%,1.2%,31.2%,9.7%,13546,345900
2,90003,Los Angeles,Los Angeles,9197635,40598,51181,13441,0.9%,37159,37970,...,157,73730,20761.8,28.3,4.4%,1.4%,28.7%,9.0%,18523,362800
3,90004,Los Angeles,Los Angeles,7894528,49675,84325,32090,8.2%,31944,52273,...,1804,60541,19861.9,35.2,25.5%,9.5%,14.4%,4.6%,25192,1063200
4,90005,Los Angeles,Los Angeles,2807558,38491,54841,24267,3.6%,27961,45858,...,598,39732,36653.0,35.6,22.9%,8.4%,21.5%,5.6%,18291,777100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746,96130,Lassen,Johnstonville; Spaulding; Susanville,1242933405,56949,72415,18469,3.2%,48750,57063,...,159,20119,41.9,33.1,7.2%,3.2%,9.5%,4.4%,6760,207100
1749,96134,Modoc; Siskiyou,Newell; Tulelake,859149258,34896,52705,19139,0.6%,31094,27700,...,4,2059,6.2,36.4,8.9%,2.9%,20.9%,4.2%,1203,100200
1752,96137,Lassen; Plumas,Canyondam; Clear Creek; East Shore; Hamilton B...,125356657,49191,66346,33337,2.1%,61250,50250,...,35,3252,67.2,57.8,17.4%,8.3%,11.0%,6.4%,4252,200700
1760,96150,El Dorado,South Lake Tahoe,319971335,57396,82312,35049,6.5%,33369,63978,...,766,29327,237.4,38.8,20.8%,8.8%,6.3%,6.7%,23478,442300
1762,96161,Nevada; Placer,Kingvale; Truckee,470961610,98924,139731,53453,18.1%,63583,93508,...,1254,18488,101.7,41.5,36.2%,16.4%,4.3%,2.0%,17733,604100

In [7]:
zipcode_list = []
for index, row in raw_filtered.iterrows():
    if int(row['race_and_ethnicity_total']) >= 8000:
        zipcode_list.append(row['name'])
with open("zipcode_list.txt", 'w+') as output:
    for x in zipcode_list:
        output.write(str(x) + '\n')

In [8]:
raw_filtered.to_csv('demographic.csv', index = False)