In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
housing = pd.read_csv("zip_housing.csv")

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
housing

,property_id,prop_type,year_built,is_new_construction,beds,baths_full,baths_half,garage,price,lot_size,building_size,line,neighborhoods,city,county,state_code,postal_code
0,O2889402305,multi_family,1906.0,False,NaN,NaN,NaN,3.0,570000,7057.0,1756.0,6375 Converse Ave,"['Florence-Graham', 'South LA']",Los Angeles,Los Angeles,CA,90001
1,O1305476579,single_family,1913.0,False,3.0,1.0,1.0,1.0,470000,5721.0,1030.0,7916 Alix Ave,"['Florence-Graham', 'South LA']",Los Angeles,Los Angeles,CA,90001
2,O9299703972,multi_family,1938.0,False,NaN,NaN,NaN,NaN,830000,5495.0,2503.0,1222 E 78th St,['South LA'],Los Angeles,Los Angeles,CA,90001
3,O2866856410,single_family,1905.0,False,4.0,2.0,NaN,NaN,400000,5387.0,1248.0,1659 E 70th St,['South LA'],Los Angeles,Los Angeles,CA,90001
4,O2823776981,condo,1912.0,False,5.0,2.0,NaN,NaN,659000,5667.0,1897.0,1364 E 58th Pl,['South LA'],Los Angeles,Los Angeles,CA,90001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123505,O9486418930,single_family,NaN,False,3.0,2.0,NaN,2.0,325319,NaN,1608.0,20181 Ballentine Dr Lot 25,NaN,Anderson,Shasta,CA,96007
123506,O1186909007,single_family,1953.0,False,2.0,1.0,NaN,1.0,212000,13068.0,998.0,3266 E Bailey Dr,['Cascade'],Anderson,Shasta,CA,96007
123507,O1465953236,mobile,1978.0,False,3.0,2.0,NaN,NaN,87000,30928.0,1533.0,19541 Spring Gulch Rd,['Cascade'],Anderson,Shasta,CA,96007
123508,O1435892887,single_family,2006.0,False,3.0,2.0,NaN,NaN,305000,6970.0,1263.0,3500 Nathan Dr,['Cascade'],Anderson,Shasta,CA,96007
123509,O9086895247,single_family,2008.0,False,2.0,2.0,NaN,NaN,507000,218236.0,1844.0,22075 Concept Way,NaN,Anderson,Shasta,CA,96007

In [4]:
housing = housing.fillna(housing.mean()).astype({"year_built": int, "beds": int, "baths_full": int, "baths_half": int, "garage": int,"price": int,
                         "lot_size": int,"building_size": int, "postal_code": str})

In [5]:
corr = housing.corr()
corr.style.background_gradient(cmap='coolwarm')

In [6]:
demographic = pd.read_csv("Modified_data/demographic_refined.csv")
demographic

,zipcode,county_name,city,population,population_rank,city_name,aland,median_household_income,average_household_income,per_capita_income,...,hhi_200k_or_more,race_and_ethnicity_total,population_density_sq_mi,median_age,educational_attainment_bachelors,educational_attainment_graduate,family_poverty_pct,unemployment_pct,housing_units,median_value_of_owner_occupied_units
0,90001,Los Angeles,Florence-Graham,65716,137,Florence-Graham; Huntington Park; Los Angeles,9071081,43360,54325,13727,...,97,59832,17083.3,29.1,4.8%,0.8%,23.3%,8.7%,14174,359000
1,90001,Los Angeles,Los Angeles,3966936,1,Florence-Graham; Huntington Park; Los Angeles,9071081,43360,54325,13727,...,97,59832,17083.3,29.1,4.8%,0.8%,23.3%,8.7%,14174,359000
2,90002,Los Angeles,Florence-Graham,65716,137,Florence-Graham; Los Angeles; Lynwood,7930602,37285,49724,13284,...,152,53302,17407.4,28.0,4.7%,1.2%,31.2%,9.7%,13546,345900
3,90002,Los Angeles,Los Angeles,3966936,1,Florence-Graham; Los Angeles; Lynwood,7930602,37285,49724,13284,...,152,53302,17407.4,28.0,4.7%,1.2%,31.2%,9.7%,13546,345900
4,90002,Los Angeles,Lynwood,70635,125,Florence-Graham; Los Angeles; Lynwood,7930602,37285,49724,13284,...,152,53302,17407.4,28.0,4.7%,1.2%,31.2%,9.7%,13546,345900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
969,95993,Sutter,Yuba City,66516,133,Yuba City,221544746,69019,93435,31433,...,845,37077,433.5,37.8,14.3%,8.6%,10.5%,7.6%,12681,316700
970,96001,Shasta,Redding,91580,84,Keswick; Redding; Shasta,227815531,55821,78446,32785,...,817,34293,389.9,41.6,16.6%,11.2%,8.0%,5.6%,15020,284700
971,96002,Shasta,Redding,91580,84,Redding,78346887,61055,78188,29627,...,591,34196,1130.4,37.4,14.7%,6.9%,11.9%,5.0%,13576,257700
972,96003,Shasta,Redding,91580,84,Bella Vista; Mountain Gate; Palo Cedro; Reddin...,615250582,53512,71816,30305,...,844,44328,186.6,40.8,17.2%,8.2%,11.2%,5.0%,19871,262000
973,96007,Shasta,Redding,91580,84,Anderson; Redding,335720417,49044,66552,26520,...,333,23228,179.2,40.2,10.8%,3.9%,12.3%,6.2%,9723,225200