In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
housing = pd.read_csv("/Users/junfengli/Downloads/zip_housing.csv")

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
housing

,property_id,prop_type,year_built,is_new_construction,beds,baths_full,baths_half,garage,price,lot_size,building_size,line,neighborhoods,city,county,state_code,postal_code
0,O2889402305,multi_family,1906.0,False,NaN,NaN,NaN,3.0,570000,7057.0,1756.0,6375 Converse Ave,"['Florence-Graham', 'South LA']",Los Angeles,Los Angeles,CA,90001
1,O1305476579,single_family,1913.0,False,3.0,1.0,1.0,1.0,470000,5721.0,1030.0,7916 Alix Ave,"['Florence-Graham', 'South LA']",Los Angeles,Los Angeles,CA,90001
2,O9299703972,multi_family,1938.0,False,NaN,NaN,NaN,NaN,830000,5495.0,2503.0,1222 E 78th St,['South LA'],Los Angeles,Los Angeles,CA,90001
3,O2866856410,single_family,1905.0,False,4.0,2.0,NaN,NaN,400000,5387.0,1248.0,1659 E 70th St,['South LA'],Los Angeles,Los Angeles,CA,90001
4,O2823776981,condo,1912.0,False,5.0,2.0,NaN,NaN,659000,5667.0,1897.0,1364 E 58th Pl,['South LA'],Los Angeles,Los Angeles,CA,90001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123505,O9486418930,single_family,NaN,False,3.0,2.0,NaN,2.0,325319,NaN,1608.0,20181 Ballentine Dr Lot 25,NaN,Anderson,Shasta,CA,96007
123506,O1186909007,single_family,1953.0,False,2.0,1.0,NaN,1.0,212000,13068.0,998.0,3266 E Bailey Dr,['Cascade'],Anderson,Shasta,CA,96007
123507,O1465953236,mobile,1978.0,False,3.0,2.0,NaN,NaN,87000,30928.0,1533.0,19541 Spring Gulch Rd,['Cascade'],Anderson,Shasta,CA,96007
123508,O1435892887,single_family,2006.0,False,3.0,2.0,NaN,NaN,305000,6970.0,1263.0,3500 Nathan Dr,['Cascade'],Anderson,Shasta,CA,96007
123509,O9086895247,single_family,2008.0,False,2.0,2.0,NaN,NaN,507000,218236.0,1844.0,22075 Concept Way,NaN,Anderson,Shasta,CA,96007

In [4]:
housing = housing.fillna(housing.mean()).astype({"year_built": int, "beds": int, "baths_full": int, "baths_half": int, "garage": int,"price": int,
                         "lot_size": int,"building_size": int, "postal_code": str})

In [5]:
corr = housing.corr()
corr.style.background_gradient(cmap='coolwarm')