In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("/Users/shensakura/Desktop/Stats 170A/project/STATS-170A-Group/Data_in_process/school_general.csv")

In [49]:
df1 = df[df['isPrivate']== False].copy()

In [50]:
df1['lowGrade'].value_counts(ascending=True)

8        5
12       6
2        7
11       9
3       19
1       23
10      37
4       40
5       47
7      284
6      597
9      917
K     3454
Name: lowGrade, dtype: int64

In [41]:
df1['schoolLevel'].value_counts(ascending=True)

Adult Education       1
Other               256
Middle              764
High               1165
Elementary         3260
Name: schoolLevel, dtype: int64

In [47]:
def check_ele(row):
    if row['schoolLevel']=="Elementary":
        return True
    return False

In [55]:
def check_mid(row):
    if row['schoolLevel']=="Middle":
        return True
    return False

In [68]:
def check_high(row):
    if row['schoolLevel']=="High":
        return True
    return False

In [66]:
df1['has_elementary']= df1.apply(check_ele, axis=1)

In [67]:
df1['has_middle']= df1.apply(check_mid, axis=1)

In [69]:
df1['has_high']= df1.apply(check_high, axis=1)

In [33]:
df2 = df1[df1['Elementary']== "K"]

In [65]:
df1[df1['schoolLevel']== "Adult Education"]

,schoolid,schoolName,city,zip,lowGrade,highGrade,schoolLevel,isCharterSchool,isMagnetSchool,isVirtualSchool,isTitleISchool,rank,rankOf,rankStars,rankLevel,rankStatewidePercentage,averageStandardScore,isPrivate,has_elementary,has_middle
3376,60010910922,Los Angeles Unified School District Regional O...,Los Angeles,90017,NaN,NaN,Adult Education,No,(n/a),(n/a),(n/a),NaN,NaN,NaN,NaN,NaN,NaN,False,False,False

In [77]:
df2 = df1.groupby("zip").mean().copy()

In [85]:
df2.loc[(df2.has_elementary >0),'has_elementary']= True
df2.loc[(df2.has_elementary ==0),'has_elementary']= False

In [87]:
df2.loc[(df2.has_middle >0),'has_middle']= True
df2.loc[(df2.has_middle ==0),'has_middle']= False
df2.loc[(df2.has_high >0),'has_high']= True
df2.loc[(df2.has_high ==0),'has_high']= False

In [82]:
df1['rankStars']

0       0.0
1       4.0
2       4.0
3       3.0
4       4.0
       ...
6834    0.0
6835    1.0
6836    0.0
6837    1.0
6838    3.0
Name: rankStars, Length: 5539, dtype: float64

In [89]:
df2.to_csv('school_final.csv')